.paneMode-overlay .CreateHeader {
    /* background-color: transparent; */
}
.CreateHeader {

}

.CreateHeader-logo {
    margin-right: 96px;
}

.CreateHeader-menu {

}

.CreateHeader-menuItem {

}

.CreateHeader-submitButton {
    color: var(--text-on-primary-color)!important;
    font-size: 1.4rem!important;
    font-family: 'Roboto Mono', monospace!important;
    text-transform: none!important;
}

.CreateHeader-submitMenu {
    width: 100%;
    /* height: 112px; */
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    padding: 56px 24px 24px;
    box-sizing: border-box;
}