.Footer {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    text-align: right;
    box-sizing: border-box;
}

.Footer-content {
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 1px var(--primary-color__dark) solid;
    padding: 16px;
}