.Header {
    width: 100%;
    height: 56px;
    z-index: 100;
    position: fixed;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--primary-color);
}

.Header-content {
    height: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.Header-logo {
    color: white;
    margin-right: 32px;
}

.Header-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.Header-menuItem {
    padding: 8px;
}

.Header-logoutSection {
    display: flex;
}

.Header-userInfo {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.Header-userInfo .Header-thumb {
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.Header-userInfo .Header-userName {
    padding: 0;
    margin: 0;
}