.PostSheet-content {
    max-width: 1024px;
    margin: 0 auto;
    text-align: right;
}

.PostSheet-content input, .PostSheet-content textarea {
    font-size: 1.4rem;
    font-family: 'Roboto Mono', monospace;
}

.PostSheet-label {
    font-size: 1.2rem!important;
    font-family: 'Roboto Mono', monospace!important;
}

.PostSheet-buttons {
    text-align: right;
    margin-top: 24px;
}

.PostSheet-cancelButton {
    color: #666!important;
    font-size: 1.2rem!important;
    font-family: 'Roboto Mono', monospace!important;
}

.PostSheet-submitButton {
    color: #9b27af!important;
    font-size: 1.2rem!important;
    font-family: 'Roboto Mono', monospace!important;
}

.PostSheet-description {
    margin-bottom: 24px;
}

/* Tags */
.PostSheet-tagsContent {
    width: 500px;
    display: inline-block;
    text-align: left;
}

.PostSheet-tagsLabel {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.ReactTags__tags .ReactTags__selected {
    display: flex;
    flex-wrap: wrap;
}

.ReactTags__tags .ReactTags__tagInput {
    min-width: 50%;
    flex: 1;
    margin: 4px 0;
}

.ReactTags__tags .ReactTags__tagInputField {
    width: 100%;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #eee;
    color: #666;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
}

.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #efefef;
    color: #666;
    font-size: 12px;
    display: inline-block;
    padding: 4px;
    margin: 4px 8px 4px 0;
    border-radius: 2px;
    font-family: 'Roboto Mono', monospace;
}

.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 4px;
    cursor: pointer;
}