.ShaderEditor-content {
    width: 100%;
    height: 100%;
}
/* override style */
.CodeMirror {
    font-size: 1.8rem;
    height: 100%;
}
.CodeMirror {
    background-color: var(--color-background)!important;
    text-shadow: var(--color-background) 0 1px 1px!important;
}

.CodeMirror-gutters {
    background-color: transparent!important;
}

.paneMode-split .CodeMirror {
    background-color: var(--color-background)!important;
}

.CodeMirror [data-errorLine] {
    background-color: var(--color-cursor-error-line);
}

.CodeMirror .CodeMirror-cursor {
    border-left: 2px solid var(--color-cursor);
}

.CodeMirror .CodeMirror-activeline-background {
    background-color: var(--color-cursor-active-line);
}

.CodeMirror-selected {
    background-color: var(--color-background-selected)!important;
}