@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
    height: 100%;
    font-size: 62.5%;
    color: #222;
    font-family: 'Roboto Mono', monospace;
    line-height: normal;
}

ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1.4rem;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

button {
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style:none;
}

.content {
    padding: 8px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #999;
}